<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Recognition</title>
    <link rel="stylesheet" href="../styles/mainPageStyle.css">
</head>
<body>
    <header class="header">
        <a href="" class="logo">Fruit Recognition Using Neural Network Classifier</a>

        <nav class="navbar">
            <a href="http://localhost:3000/main/input" class="selected" style="color: black; font-weight: bold;">Input</a>
            <a href="http://localhost:3000/main/output">Output</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form-container">
                <div class="data-entry" style="flex: 1;">
                    <h2>Enter Data</h2>
                    <label for="data-input-choice">Data Input Method:</label>
                    <select id="data-input-choice" onchange="toggleDataInput()">
                        <option value="manual" selected>Manual Entry</option>
                        <option value="file">Upload Data from File</option>
                    </select>

                    <div id="manual-entry">
                        <label for="sweetness">Sweetness (1-10):</label>
                        <input type="number" id="sweetness" min="1" max="10" value="1">

                        <label for="color">Color:</label>
                        <select id="color">
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                        </select>

                        <label for="expected">Expected output:</label>
                        <select id="expected">
                            <option value="apple">Apple</option>
                            <option value="banana">Banana</option>
                            <option value="orange">Orange</option>
                            <option value="grape">Grape</option>
                        </select>
                    </div>

                    <div id="file-entry" >
                        <label for="data-file">Upload Data File (TXT):</label>
                        <input type="file" id="data-file" accept=".txt">
                    </div>
                </div>

                <div id="training-config">
                    <h2>Training Configuration</h2>
                    <br>
                    <label for="learning-rate">Learning Rate:</label>
                    <input type="number" step="0.01" id="learning-rate" value="0.01">

                    <label for="max-epochs">Maximum Number of Epochs:</label>
                    <input type="number" id="max-epochs" min="1" value="100">

                    <label for="neorons">Number of Nueorons:</label>
                    <input type="number" step="1" min="1" id="neorons" value="5">

                    <button onclick="trainNeuralNetwork()">Train Neural Network</button>
                </div>
            </div>
        </div>

    </main>

    <script src="../scripts/mainPageScript.js"></script>
</body>
</html>
