<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Recognition</title>
    <link rel="stylesheet" href="../styles/outputPageStyle.css">

</head>
<body>
    <header class="header">
        <a href="" class="logo">Fruit Recognition Using Neural Network Classifier</a>

        <nav class="navbar">
            <a href="/main/input" >Input</a>
            <a href="/main/output" class="selected" style="color: black; font-weight: bold;">Output</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form-container" id="outputContainer">
                <p id="sendedData" style="display: none;">
                    <%= JSON.stringify({ trainingData, learningRate, numberOfNeurons, maxEpochs, activationFunction }) %>
                </p>
            </div>
        </div>

    </main>
    <script src="../scripts/outputPageScript.js"></script>
</body>
</html>
