<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Recognition</title>
    <link rel="stylesheet" href="../styles/mainPageStyle.css">
</head>
<body>
    <header class="header">
        <a href="" class="logo">Fruit Recognition Using Neural Network Classifier</a>

        <nav class="navbar">
            <a href="http://localhost:3000/main/input" >Input</a>
            <a href="http://localhost:3000/main/output" class="selected" style="color: black; font-weight: bold;">Output</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form-container">
                

               
            </div>
        </div>

    </main>

    <script src="../scripts/mainPageScript.js"></script>
</body>
</html>
