body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;

}

header {
  background-color: #4CAF50;
  padding: 1em;
  text-align: center;
  color: white;
}

main {
  padding: 2em;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  align-self: center;
}

.form-container {
  width: 45%;
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input, select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

.result-container {
  width: 100%;
  background-color: #f2f2f2;
  padding: 1em;
  border-radius: 8px;
}

footer {
  background-color: #4CAF50;
  padding: 1em;
  text-align: center;
  color: white;
  
}
.input-images {
  display: flex;
  flex-wrap: wrap;
}

.input-images img {
  width: 50px; 
  height: 50px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

#manual-entry{
  display: block;
}

#file-entry{
  display: none;
}

#training-config{
  flex: 1; margin-left: 20px;
}

.custom-select {
  position: relative;
  width: 100%;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

